h1 {
    color: blue;
}

p {
    color: purple;
}

li {
    border: yellow solid 1px;
}

span {
    border: dotted darkcyan 1px;
}

.column {
    float: left;
    width: 33%;
    margin-right: 0.3%;
}