<div class="content">
        <section class="js">
            <h2>JavaScript</h2>
            <div class="articles">
                <article>
                    <h3>Arrays</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, excepturi magnam aliquid
                        quamest fugit ipsa quidem
                        impedit praesentium tempore placeat numquam blanditiis fuga soluta beatae perspiciatis voluptas
                        atque obcaecati?</p>
                    <a href="#" class="btn details-btn">Details</a>
                </article>
                <article>
                    <h3>Objects</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, excepturi magnam aliquid
                        quamest fugit ipsa quidem
                        impedit praesentium tempore placeat numquam blanditiis fuga soluta beatae perspiciatis voluptas
                        atque obcaecati?</p>
                    <a href="#" class="btn details-btn">Details</a>
                </article>
            </div>
        </section>
        <section class="CSharp">
            <h2>C#</h2>
            <div class="articles">
                <article>
                    <h3>Dictionary</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, excepturi magnam aliquid
                        quamest fugit ipsa quidem
                        impedit praesentium tempore placeat numquam blanditiis fuga soluta beatae perspiciatis voluptas
                        atque obcaecati?</p>
                    <a href="#" class="btn details-btn">Details</a>
                </article>
            </div>
        </section>
        <section class="Java">
            <h2>Java</h2>
            <div class="articles">
                <article>
                    <h3>JDK</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, excepturi magnam aliquid
                        quamest fugit ipsa quidem impedit praesentium tempore placeat numquam blanditiis fuga soluta
                        beatae perspiciatis voluptas atque obcaecati?</p>
                    <a href="#" class="btn details-btn">Details</a>
                </article>
            </div>
        </section>
        <section class="Pyton">
            <h2>Pyton</h2>
            <div class="articles">
                <article>
                    <h3>Gjango</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, excepturi magnam aliquid
                        quamest fugit ipsa quidem
                        impedit praesentium tempore placeat numquam blanditiis fuga soluta beatae perspiciatis voluptas
                        atque obcaecati?</p>
                    <a href="#" class="btn details-btn">Details</a>
                </article>
            </div>
        </section>
    </div>