    {{> header}}
<section id="viewMydestinations">
            <h3>Your destinations</h3>
            {{#each destinations}}
            {{> myDestination}}
            {{/each}}
        </section>
    {{> footer}}